flask
flask-cors
numpy
requests
python-dotenv
langchain
langchain-core
sentence-transformers
google-genai
pandas
langchain-community
langchain-text-splitters
faiss-cpu
pymongo
flask-jwt-extended
bcrypt
email-validator
cohere
tensorflow